<h3 style="text-align:center;">Top three products that are most often purchased from each store</h3>
<div class="mt-4 output-container" *ngIf="data_all.length > 0">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Store</th>
            <th scope="col">Item Name</th>
            <th scope="col">Quantity Sold</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of data_all">
            <td>{{ item.Store }}</td>
            <td>{{ item.Item_Name }}</td>
            <td>{{ item.Quantity_Sold }}</td>
        </tr>
        </tbody>
    </table>
</div>





